.container{
  min-height: 300px;
}

.container{
  background-color: #3f51b5;
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 30px;
  border-radius: 4px;
}

.search-form-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.city,
.temp{
  font-size: 34px;
  padding-top: 30px;
}

.desc{
  padding-top: 40px;
}

.error-message{
  width: 50%;
  color:white;
  background-color: rgb(90, 5, 5);
  font-size: 24px;
  border-radius: 4px;
  padding: 10px;
  margin:40px auto;
  text-align:center;
}